---
interface Props {
  title: string;
  content?: string;
  items?: string[];
}

const { title, content, items = [] } = Astro.props;
---

<section class="case-study-section">
  <h2>{title}</h2>
  {content ? <p>{content}</p> : null}
  {
    items.length > 0 ? (
      <ul>
        {items.map((item) => <li>{item}</li>)}
      </ul>
    ) : null
  }
  <slot />
</section>
